@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-100);
    --surface: var(--color-slate-900);
    --alt-surface: var(--color-slate-800);
    --primary: var(--color-blue-400);
    --visited: var(--color-purple-400);
    --success: var(--color-green-400);
    --error: var(--color-red-400);
  }
}

@theme inline {
  --color-background: var(--color-slate-50);
  --color-foreground: var(--color-slate-950);
  --color-surface: var(--color-slate-100);
  --color-alt-surface: var(--color-slate-200);
  --color-primary: var(--color-blue-700);
  --color-visited: var(--color-purple-700);
  --color-success: var(--color-green-700);
  --color-error: var(--color-red-700);
  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    font-weight: var(--font-weight-light);
    letter-spacing: -1.5px;

    @media (max-width: 768px) {
      font-size: var(--text-5xl);
    }
  }

  h2 {
    font-size: var(--text-3xl);
    padding-top: 20px;
    margin: 60px 0 36px;
    letter-spacing: -0.5px;
    border-top: 2px solid var(--color-foreground);
    font-weight: var(--font-weight-light);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  p,
  li {
    letter-spacing: 0.5px;
  }

  article p,
  article ul,
  article img,
  figure {
    margin: 1.25rem 0;
    line-height: 1.6;
  }

  article li {
    margin-top: 0.5em;
  }

  a {
    text-decoration: none;
    transition: all 0.1s;

    &:visited {
      color: var(--visited);
    }

    &:hover {
      color: var(--primary);
    }

    &:active {
      scale: 0.95;
    }
  }

  article a {
    text-decoration: underline;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
