@import 'tailwindcss';

:root {
  --background: var(--color-slate-50);
  --foreground: var(--color-slate-950);
  --surface: var(--color-slate-100);
  --primary: var(--color-blue-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --font-serif:
    var(--font-noto-serif), Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-900);
    --foreground: var(--color-slate-50);
    --surface: var(--color-slate-800);
  }
}

[data-theme='warhammer'] {
  --background: var(--color-zinc-500);
  --foreground: var(--color-amber-200);
  --surface: var(--color-zinc-300);
}

@media (prefers-color-scheme: dark) {
  [data-theme='warhammer'] {
    --background: var(--color-zinc-500);
    --foreground: var(--color-amber-300);
    --surface: var(--color-zinc-800);
  }
}

@theme [data-theme="warhammer"] {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0.75em 0;
  line-height: 1.75;
  text-align: justify;
}
